// Heading Color
$heading-color: #272727;

// Text Color
$text-color: #7a7a7a;

// Default Background
$bg-default: #F7CAC9;

// Gray Background
$bg-gray: #f0f4f8;

// Primary Color
$pri-color: #F7CAC9;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #F7CAC9;

// Footer Color
$foo-color: #000000;

// Secondary Color
$sec-color: #404040;