@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/** {*/
/*    box-sizing: border-box;*/
/*}*/

#feed_search_form {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.hhh{
    font-weight: bold;
    margin: 0;
}

.ppp {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


#feed_search_form > span {
    font-size: 12px;
}

.social-containerr > a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.aa{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;

    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 123%;
    text-align: center;
}

.iiii {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

#feed_search {
    background: #F7CAC9;
    background: -webkit-linear-gradient(to right, #F7CAC9, #92A8D1);
    background: linear-gradient(to right, #F7CAC9, #92A8D1);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 668px;
    max-width: 100%;
    min-height: 150px;
    text-align: center;
    font-size: 20px;

}

.form_container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-containerr {
    left: 0;
    width: 50%;
    z-index: 2;
}

.form_container.right-panel-activee .sign-in-containerr {
    transform: translateX(100%);
}

.sign-up-containerr {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.form_container.right-panel-active .sign-up-containerr {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay_containerr {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.form_container.right-panel-activee .overlay-containerr{
    transform: translateX(-100%);
}

.overlayy {
    background: #F7CAC9;
    background: -webkit-linear-gradient(to right, #F7CAC9, #92A8D1);
    background: linear-gradient(to right, #F7CAC9, #92A8D1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.form_containerr.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.form_container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay_right {
    right: 0;
    transform: translateX(0);
}

.form-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

#search_button{

   
    background-color: white;

}

/* ---------------------feed_form------------------------------------------ */
#selection_list{
    /* margin-left: auto; */
    
    /* margin-right: -1280px; */
    
    margin-left: 1320px;

}
#list_container{

   width: 1200px; 
   height: 1000px;  
   border: 5px solid #F7CAC9; 
   border-radius: 30px;
   margin: 0 auto;
   margin-top: 5px;
   overflow: auto;
   
  

}

#list_box{

    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #F7CAC9; 
    border-radius: 30px;
   
}
#list_box_feed{

    width: 1000px;
    height: 380px;
    margin: auto;
    margin-top: 10px;
    border: 5px solid #F7CAC9; 
    border-radius: 30px;
   
}


#list_box_loc{
    font-size: 20px;
    text-align: left;
    padding: 6px;
}

#list_box_photo{
    width: 250px;
    height: 240px;
    /* border: 1px solid red; */
    margin-left: 5px;
}

#list_box_subject{

    border: 1px solid red;
    width: 710px;
    height: 290px;
    margin-left: 275px;
    margin-top: -289px;
    
    text-align: left;

}
.p{
    font-size: 50px;
}
#list_box_link{

     text-decoration-line: none;
  
}

#feed_insert_button{
    text-decoration-line: none; 
    font-size: 550px;
    margin-left: 700px;
}

/* ---------------------insert------------------------------------------ */
#insert_outline{
    width: 1200px;
    height: 2000px;
    border: 5px solid #F7CAC9;
    margin: 0 auto;
    border-radius: 30px;

}

#insert_outline_p{
    width: 1200px;
    height: 2000px;
    border: 5px solid #F7CAC9;
    margin: 0 auto;
    border-radius: 30px;

}

#feed_insert_theme{

    width: 1200px;
    height: 150px;
   
    margin-top: -2285px;
    text-align: left;
    padding: 15px;
    
    
    
}
/* 테마 버튼 이벤트 start*/
label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  

  [type="radio"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 5.25em;
    height: 5.25em;
  }
  
  [type="radio"]::before {
    content: "";
    position: absolute;
    left: 0;

    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
  }
  
  [type="radio"]:checked {
    background-color: #F7CAC9;
    border-color: #F7CAC9;
  }
  
  [type="radio"]:checked::before {
    background-color: white;
    left: 1em;
  }
  
  [type="radio"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="radio"]:disabled:before {
    background-color: lightgray;
  }
  
  [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid #F7CAC9;
  }
  
  [type="radio"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  }
  
  /* Global CSS */
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 테마 버튼 이벤트 End*/

  #feed_insert_date{

    
    width: 1200px;
    height: 50px;
    margin-top: -11px;
    margin-left: -13px;
    padding: 10px;
    font-size: 20px;
    text-align: right;

  }

  /* 지도 api */
  #feed_insert_map{

    border: 2px solid #F7CAC9;
    width: 1190px;
    height: 600px;
    margin: 0 auto;
    margin-left: 0px;

  }

  /* insert_day 일차 */
  #feed_insert_day{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    margin-left: -15px;
    padding: 10px;

  }

  #feed_loc_loc{

    text-align: center;
  }

  #feed_insert_loc{
    text-align: center;
  }

  #feed_insert_mainSubject{

    width: 1200px;
    height: 200px;
    margin: 0 auto;
    margin-left: -15px;
    padding: 10px;
  }

  #feed_insert_content{
    font-size: 25px;
    resize: none;
  }
  #feed_insert_subject{
    font-size: 25px;
    resize: none;
  }

  #feed_insert_memo_content{
    font-size: 15px;
    resize: none;
  }




