@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/* 
 . class
 # id
 > 자식
*/



#cs_main{
    border-radius: 30px; 
    border: 3px solid #F7CAC9;
    width: 1500px; 
    margin: 0 auto; 
    padding: 10px;
}

#cs_main > #cs_content {
    text-align: center; 
    width: 300px;
    margin: 0 auto; 
    margin-top: -100px;
}
.dropdown{
    margin-top: 50px;
    width: 200px;   
}

#accordion{
    margin: 0 auto;
    text-align: center; 
    width: 600px;
}
center{
    margin: 0 auto;
    text-align: center; 
    width: 600px;
}

.wrap_btn {
    clear: both;
    margin: 0 auto; 
    overflow: hidden;
    
    text-align: right;
    width: 1500px; 

}

.wrap_btn > .txt_solution {
    display: inline-block;
    
    line-height: 42px;
    color: #666;
}

.wrap_btn > .bundle_btn {
    
    float: right;
}
.wrap_btn > .btn_cs {
    float: none;
    width: 186px;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

    .ico_write {
        width: 17px;
        height: 17px;
        margin: 12px 3px 0 0;
        background-position: -80px -60px;
        vertical-align: top;
    }
    .ico_cs {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        margin-bottom: 15px;
        text-indent: -9999px;
        background-image: url(../img/ico_cs_200120.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }

#wrap_btn > .btn{
    background-color: #F7CAC9;
}

.panel-default{
    padding: 3px;
    width: 500px;
}

.panel-heading{
    border-radius: 10px; 
    border: 1px solid #F7CAC9;
    padding: 10px;
    width: 500px;

}
.btn-primary{
    color: #000f;
    background-color: rgb(255, 255, 255);
    border-color: #000f;
}
.btn-primary:hover{
    color: #F7CAC9;
    background-color: rgb(255, 255, 255);
    border-color: #000f;

}
.show>.btn-primary.dropdown-toggle{
    color: #000f;
    background-color: rgb(255, 255, 255);
    border-color: #000f;
}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0.2rem #F7CAC9;
}
#cs_main > .classynav > li {
   width: 150px;
   display: inline-block;
    clear: both;

    
    
}

#cs_main > .classynav > li > a{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 10px;
    color: #5d5c5c;
    
    
}
#cs_main > .classynav {
float: right;
text-align: left;
margin-top: 10px;
margin-right: 15px;
display: flex;
}


[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
    border: 1px solid red;
}